NODE_ENV=development
PORT=3001

DATABASE_URL=postgresql://campsite:campsite_dev_pwd@localhost:5432/campsite_os?schema=public

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=replace_me_in_real_env_min_32_chars_xxxxxxx
JWT_ACCESS_TTL=15m
JWT_REFRESH_SECRET=replace_me_in_real_env_min_32_chars_yyyyyyy
JWT_REFRESH_TTL=7d


LOG_LEVEL=debug